# APP名
APP_NAME=app-kotlin

# サーバー名
SERVER_NAME=apis.authorization-kotlin.dev

# Nginx
NGINX_CONTAINER=app-kotlin_nginx
NGINX_HTTP_PORT=80
APP_PATH=kotlin:8080

# Let's Encrypt
LETSENCRYPT_EMAIL=satoshi.nagashiba@gmail.com

# Kotlin
KOTLIN_CONTAINER=app-kotlin_kotlin
KOTLIN_DEBUG_PORT=5005
