# APP名
APP_NAME=app-go

# サーバー名
SERVER_NAME=apis.showcase-go.dev

# Nginx
NGINX_CONTAINER=showcase-go_nginx
NGINX_HTTP_PORT=80
APP_PATH=go:8080

# CORS
CORS_ALLOWED_ORIGIN=http://localhost:5173

# Let's Encrypt
LETSENCRYPT_EMAIL=

# Go
GO_CONTAINER=showcase-go_go
GO_DEBUG_PORT=12345
